{% extends 'base.html' %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}

<div class="container">
    <br>
    <div class="row">
          
    <div class="card" style="width: 24rem;">
        <div class="card-body">
        <img src= {{thumbnail}} class="card-img-top" alt="...">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{author}}</h6>
          <p class="card-text">{{description}}</p>
         </div>
      </div>

      </div>


<div class="container">
<h1> Add a new Book</h1>
{{ form.media }} 
<form action="" method="post">
    {% csrf_token%}
  
    {{ form|crispy}}
    <input type="submit" value="Save">
</form>

</div>

{% endblock content %}