body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small-form-container {
  max-width: 400px;
  margin: 0 auto;
}
.large-form-container {
  max-width: 1200px;
  margin: 0 auto;
}

.fullscreen-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 20px; /* Optional padding */
  box-sizing: border-box; /* Ensures padding doesn’t affect width */
}